* p {
  color: #fff;
  background: #241845;
  font-size: 0.8em;
  font-weight: 1px;
}
.foot-container {
  display: block;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  padding-top: 20px;
  background: #241845;
  width: 100vw;
  padding-bottom: 10px;
  margin-top: 50px;
}
.foot-container * {
  margin-bottom: 20px;
}
.nav-mobile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
  background-color: #020825;
  width: auto;
  overflow-x: scroll;
  scrollbar-width: thin;
  padding-left: 250px;
}
.nav-mobile-container::-webkit-scrollbar {
    display: none;
}
.nav-mobile-container * {
  width: 30vw;
  margin-left: 30px;
}

h5:hover{
  color:  #0ed2f7;
}
@media screen and (min-width: 1000px) {
  .nav-mobile-container {
    display: none;
  }
}
