* p {
  color: #fff;
  background: #241845;
  font-size: 0.8em;
  font-weight: 1px;
}
.foot-container {
  display: block;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  background: #020825;
  width: 100vw;
  padding-bottom: 10px;
  margin-top: 20px;
}
.foot-container * {
  background-color: #020825;
  padding:10px;
}
.nav-mobile-container {
  display: flex;
  flex-direction: row;
  height: 100px;
  background-color: #020825;
  width: auto;
  overflow-x: scroll;
  scrollbar-width: thin;
}
.nav-mobile-container ::-webkit-scrollbar-track {
    /* color: #EA6CFB; */
    display: none;
    color:#EA6CFB;
}
.nav-mobile-container a {
  width: 20vw;
  text-decoration:none;
  transition: 0.2s;
}
.nav-mobile-container a:hover{
  background:  #000;
  transition: 0.2s;
  padding-top:20px;
  border-radius:10px;
}
h5:hover{
  color:  #0ed2f7;
}
@media screen and (min-width: 1000px) {
  .nav-mobile-container {
    display: none;
  }
}
