P{
    color:#fff;
    background:#241845;
}
.foot-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    background: #241845;
}
@media screen and (min-width:1000px){
    .foot-container{
        display:none
    }
}