*{
    text-align:center;
    align-items: center;
    background-color: #020825;
    color:#fff;
    font-family:sans-serif ;
    max-width: 100vw;
}
body{
    width:100vw;
    overflow-x: hidden;
    max-width: 100vw;
}
h2{
    font-size: 40px;
}
h3{
   color:#85F2FD;
   font-size:24px;
   margin-bottom:100px;
}
h4{
    font-weight:400;
    font-style:normal;
    font-size: 20px;
}
.Tabs-container{
    width:50vw;
    margin:auto;
}
.whatsapp{
    width: 100%;
    margin:0;
    padding: 0;
    border: none;
}
.Tab-item{
    height:55px;
    background-color: #2A2F45;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top:30px;
    border-radius: 10px;
    margin-top:10px;
}
@media screen and (max-width:1000px){
    .Tabs-container{
        width:90vw;
        margin:auto;
    }  
    .Tab-item{
        margin-top:-10px;
    }
    h3{
        margin-bottom:40px;
        font-weight:lighter;
     }
     h2{
        font-size: 28px;
    }
}
