.main-pop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgb(2, 8, 37, 0.88);
    width: 100vw;
    height: 100vh;
}

.popup-main {
    width: 50vw;
    height: 70vh;
    margin: auto;
    margin-top: 15vh;
    background: #2A2F45;
    border-radius: 20px;
    text-align: center;
    align-items: center;
}

.close {
    padding: 10px;
    background-color: #2A2F45;
    border-radius: 20px;
    justify-content: end;
    display: flex;
    padding-top:30px;
    padding-right:30px;
    cursor:pointer;
}

h4 {
    background-color: #2A2F45;
    border-radius: 20px;
}

h5 {
    background-color: transparent;
}

.spec {
    padding-top: 20vh;
}

@media screen and (max-width:1000px) {
    .popup-main {
        width: 90vw;
    }
}