.slack{
    position:fixed;
    max-width:400px;
    height:auto;
    width:90vw;
    bottom:10vh;
    padding:5px 0;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    background:rgb(2, 8, 37, 0.88);
    border-radius:10px;
    left:20px
}
.slack *{
    color: purple;
}
.closer-con{
    width:70px;
}
.closer{
    font-size: 2.5em;
    rotate: 45deg;
    font-weight: bold;
}