.weather{
    border-radius: 35px;
    overflow: hidden;
    width:100px;
    height:50px;
    margin-top:20px;
    cursor:pointer;
}
.weatherflex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: right;
    text-align: right;
}
@media screen and (max-width:1000px){
    .weatherflex{
        left:10vw;
    }
}
.weatherflex h3{
    font-weight: bold;
    padding-top:12px;
    color:navy
}